HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#IntelliJprojectfiles
.idea/*.xml
out
gen
build
rebel.xml

#Compliledfiles
/target/
**/target
/example/

### Java template
*.class

#PackageFiles
*.jar
*.war
*.ear

#Gradle
/build/
.gradletasknamecache

# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

### VS Code ###
.vscode/

###macOStemplate
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store